In [1]:
import pandas as pd
import numpy as np

In [10]:
forecasts_2014 = pd.read_csv('2014_forecasts.csv')
scores_2014 = pd.read_csv('2014_scores.csv')

spi_2018 = pd.read_csv('2018_forecasts.csv')
matches_2018 = pd.read_csv('2018_matches.csv')

In [6]:
forecasts_2014.head()

,date,time,country,country_code,group_letter,spi,spi_offense,spi_defense,group,sixteen,quarter_finals,semi_finals,final,champion
0,10 June,14:00,Algeria,ALG,H,63.43,1.1208,1.1636,0.0631,0.2032,0.038517,0.007996,0.001021,0.000126
1,10 June,14:00,Argentina,ARG,F,90.00,2.8541,0.4494,0.7350,0.9279,0.669904,0.468159,0.281758,0.127799
2,10 June,14:00,Australia,AUS,B,69.45,1.6395,1.2349,0.0151,0.0762,0.009646,0.002943,0.000671,0.000093
3,10 June,14:00,Belgium,BEL,H,81.97,2.1373,0.7410,0.4781,0.7688,0.351536,0.148459,0.054136,0.014904
4,10 June,14:00,Bosnia and Herzegovina,BIH,F,80.31,2.3113,0.9861,0.1599,0.5589,0.261950,0.112098,0.031611,0.008964

In [7]:
scores_2014.head()

,match_id,match_date,match_time,home_country,home_code,home_goals,away_country,away_code,away_goals,win_country,win_code
0,1,12 June,21:00,Brazil,BRA,3,Croatia,CRO,1,Brazil,BRA
1,2,13 June,17:00,Mexico,MEX,1,Cameroon,CMR,0,Mexico,MEX
2,3,13 June,20:00,Spain,ESP,1,Netherlands,NED,5,Netherlands,NED
3,4,13 June,23:00,Chile,CHI,3,Australia,AUS,1,Chile,CHI
4,5,14 June,17:00,Colombia,COL,3,Greece,GRE,0,Colombia,COL

In [8]:
forecasts_2018.head()

,forecast_timestamp,team,group,spi,global_o,global_d,sim_wins,sim_ties,sim_losses,sim_goal_diff,...,group_1,group_2,group_3,group_4,make_round_of_16,make_quarters,make_semis,make_final,win_league,timestamp
0,2018-06-17 19:56:22 UTC,Brazil,E,92.39264,3.05704,0.31349,1.41355,1.40014,0.18631,2.94050,...,0.54856,0.30233,0.12325,0.02586,0.85089,0.61093,0.42513,0.27652,0.17721,2018-06-17 19:58:10 UTC
1,2018-06-17 19:56:22 UTC,Spain,B,91.49942,3.32662,0.50111,1.43941,1.38775,0.17284,3.07257,...,0.57997,0.29632,0.08798,0.03573,0.87629,0.67363,0.45874,0.28964,0.17413,2018-06-17 19:58:10 UTC
2,2018-06-17 19:56:22 UTC,Germany,F,89.87194,3.13775,0.52709,1.40459,0.36875,1.22666,2.06499,...,0.22977,0.42564,0.26516,0.07943,0.65541,0.38744,0.25597,0.15576,0.08982,2018-06-17 19:58:10 UTC
3,2018-06-17 19:56:22 UTC,France,C,86.53100,2.82202,0.57358,2.10888,0.50183,0.38929,2.63732,...,0.64157,0.25032,0.09842,0.00969,0.89189,0.53909,0.30055,0.15237,0.07813,2018-06-17 19:58:10 UTC
4,2018-06-17 19:56:22 UTC,England,G,83.72824,2.34392,0.45752,1.77145,0.71491,0.51364,2.86514,...,0.43855,0.41108,0.11597,0.03440,0.84963,0.57242,0.29001,0.14897,0.07281,2018-06-17 19:58:10 UTC

In [9]:
matches_2018.head()

,date,league_id,league,team1,team2,spi1,spi2,prob1,prob2,probtie,proj_score1,proj_score2,score1,score2,xg1,xg2,nsxg1,nsxg2,adj_score1,adj_score2
0,2018-06-14,1908,FIFA World Cup,Russia,Saudi Arabia,70.14,51.33,0.6615,0.1200,0.2184,2.03,0.73,5.0,0.0,1.62,0.20,1.55,0.11,4.18,0.00
1,2018-06-15,1908,FIFA World Cup,Egypt,Uruguay,62.46,79.52,0.1845,0.5433,0.2723,0.82,1.61,0.0,1.0,0.42,1.94,0.65,1.94,0.00,1.05
2,2018-06-15,1908,FIFA World Cup,Morocco,Iran,72.33,65.57,0.4004,0.2667,0.3330,1.13,0.86,0.0,1.0,0.86,0.72,0.57,0.36,0.00,1.05
3,2018-06-15,1908,FIFA World Cup,Portugal,Spain,83.47,91.30,0.2459,0.4809,0.2732,1.07,1.60,3.0,3.0,1.15,1.63,0.80,2.59,3.15,3.15
4,2018-06-16,1908,FIFA World Cup,France,Australia,87.18,61.69,0.7694,0.0746,0.1560,2.61,0.69,2.0,1.0,1.38,1.03,1.24,0.39,2.10,1.05

In [11]:
list(spi_2018.columns)

['forecast_timestamp',
 'team',
 'group',
 'spi',
 'global_o',
 'global_d',
 'sim_wins',
 'sim_ties',
 'sim_losses',
 'sim_goal_diff',
 'goals_scored',
 'goals_against',
 'group_1',
 'group_2',
 'group_3',
 'group_4',
 'make_round_of_16',
 'make_quarters',
 'make_semis',
 'make_final',
 'win_league',
 'timestamp']

In [12]:
spi_2018 = spi_2018[[
 'team',
 'group',
 'spi',
 'global_o',
 'global_d'
]]

In [14]:
spi_2018.head()

      team group       spi  global_o  global_d
0   Brazil     E  92.39264   3.05704   0.31349
1    Spain     B  91.49942   3.32662   0.50111
2  Germany     F  89.87194   3.13775   0.52709
3   France     C  86.53100   2.82202   0.57358
4  England     G  83.72824   2.34392   0.45752